<html>
<head>
  <script>
    function handleClick() {
      if (note.selectedIndex !== -1) {
        location.href='/notes/' + note.options[note.selectedIndex].value;
      } else {
        alert("Please select a notebook");
      }
    }
  </script>
</head>
<body>
<h1>Notes</h1>
<select style="display: block" size="5" id="note">
  <option th:each="note: ${notes}" th:value="${note}" th:text="${note}">
  </option>
</select>
<button style="margin-top: 10px" onclick="handleClick();">
  View Note
</button>
</body>
</html>